.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(40, 68, 193, 0.1);
  transition: transform 0.2s ease-in-out;
  //margin: 5vw;
  width: 100%;
  overflow: hidden;
  padding: 0.5rem;
  position: relative;
  .wishlist-button {
    position: absolute;
    top: 0.5lvh;
    right: 0.5lvh;
    z-index: 1;
  }
  .product-link {
    h4 {
      margin-right: 5lvh;
    }
    display: flex;
    flex-direction: column;
    img {
      max-width: 100%;
      height: 30vw;
      object-fit: cover;
      margin: auto;
    }
  }
  .description {
    display: flex;
    flex-direction: row;
    margin-top: 3lvh;
    span {
      width: 50%;
      div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
  button {
    margin: auto;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(77, 107, 218, 0.534);
  }
  @media screen and (aspect-ratio > 1/1) {
    width: 30%;
    margin: 0.8%;
    margin-top: 5vw;
  }
}
