.header {
  position: relative;
  .margin {
    height: 10lvh;
  }
  .content {
    height: 10lvh;
    //overflow: hidden;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color);
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .header-logo {
      height: 100%;
      max-width: 30lvh;
      display: flex;
      align-items: center;
      img {
        max-height: 100%;
        max-width: 100%;
      }
    }
    .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: calc(100% - 20lvh);
      justify-content: space-between;
      .header-actions {
        justify-content: flex-end;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        .header-icon {
          font-size: 6lvh;
          width: 8lvh;
          // margin: 0 1lvh;
        }
        .header-wishlist-link {
          position: relative;
          span {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .autocomplete {
          input {
            height: 100%;
          }
        }
        button {
          height: 8lvh;
          margin-left: 1lvh;
          margin-right: 1lvh;
        }
      }
      .header-close {
        display: none;
      }
      .header-burger {
        display: none;
      }
      nav {
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
      }
    }
  }
  // &-top {
  //   display: flex;
  //   align-items: center;
  //   justify-content: space-between;
  //   height: 100%;
  //   //padding: 1rem 2rem;
  // }

  // &-left {
  //   display: flex;
  //   height: 100%;
  //   //align-items: center;
  //   //gap: 1rem;
  // }

  // &-burger {
  //   display: none;
  //   border: none;
  //   background: none;
  //   cursor: pointer;
  // }

  // &-logo {
  //   display: flex;
  //   align-items: center;
  //   //gap: 0.5rem;
  //   text-decoration: none;
  //   height: 100%;
  //   img {
  //     height: 100%;
  //     width: auto;
  //   }
  // }

  // &-nav {
  //   display: flex;
  //   align-items: center;
  //   gap: 1.5rem;
  //   margin-left: 2rem;
  //   margin-right: auto;

  //   a {
  //     text-decoration: none;
  //   }
  // }

  // &-close {
  //   display: none;
  // }

  // &-overlay {
  //   display: none;
  // }

  // &-actions {
  //   display: flex;
  //   align-items: center;
  //   gap: 1rem;
  //   height: 100%;
  // }

  // &-search {
  //   //padding: 0.4rem 0.8rem;
  // }

  // &-icon {
  //   text-decoration: none;
  // }
}
