.header {
  position: relative;
  width: 100%;
  .margin {
    height: 10lvh;
  }
  .content {
    height: 10lvh;
    position: fixed;
    z-index: 10;
    background-color: var(--bg-color);
    top: 0;
    width: 100%;
    max-width: 260lvh;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    .menu {
      height: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: space-between;
      .header-logo {
        height: 100%;
        img {
          height: 100%;
        }
      }
      .header-actions {
        justify-content: flex-end;
        width: 80%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        * {
          margin: 0 1%;
        }
        .header-icon {
          font-size: 6lvh;
          width: 6%;
        }
        .header-wishlist-link {
          position: relative;
          span {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .header-cart-link {
          position: relative;
          span {
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        .autocomplete {
          input {
            height: 100%;
          }
        }
        button {
          height: 8lvh;
          margin-left: 1lvh;
          margin-right: 1lvh;
        }
      }
      .header-close {
        display: none;
      }
      .header-burger {
        display: none;
      }
      nav {
        //width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 100%;
        align-items: center;
        a {
          margin: 0 3lvh;
        }
      }
    }
  }
}
