.cart-product {
  width: 100%;
  display: flex;
  //gap: 10px;
  //justify-content: space-between;
  a {
    width: 70%;
  }
  button {
    width: 9%;
    margin-right: 1%;
  }

  &-thumbnail {
    width: 20%;
    object-fit: contain;
    margin-top: 0;
    float: left;
    margin-right: 2lvh;
  }
}
